In [12]:
#Q1 Program to display all header tags from wikipedia.org

import requests
from bs4 import BeautifulSoup
def wikip(url):
    page=requests.get(url)
    soup=BeautifulSoup(page.content,'html.parser')
    heading=soup.find_all(['h1','h2','h3','h4','h5','h6'])
    print('Header Tags:',*heading, sep='\n\n')
wikip('https://en.wikipedia.org/wiki/Main_Page')

Header Tags:

<h1 class="firstHeading mw-first-heading" id="firstHeading" style="display: none">Main Page</h1>

<h1><span class="mw-headline" id="Welcome_to_Wikipedia">Welcome to <a href="/wiki/Wikipedia" title="Wikipedia">Wikipedia</a></span></h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 class="vector-menu-heading" id="p-personal-label">
<span class="vector-menu-heading-label">Personal tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-namespaces-label">
<span class="vector-menu-heading-label">Namespaces</span>
</h3>

<h3 class="vector-menu-heading" id="p-views-label">
<span class="vector-menu-heading-label">Views</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 class="vector-menu-heading" id="p-navigation-label">
<span class="vector-menu-heading-label">Navigation</span>
</h3>

<h3 class="vector-menu-heading" id="p-interaction-label">
<span class="vector-menu-heading-label">Contribute</span>
</h3>

<h3 class="vector-menu-heading" id="p-tb-label">
<span class="vector-menu-heading-label">Tools</span>
</h3>

<h3 class="vector-menu-heading" id="p-coll-print_export-label">
<span class="vector-menu-heading-label">Print/export</span>
</h3>

<h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label">
<span class="vector-menu-heading-label">In other projects</span>
</h3>

<h3 class="vector-menu-heading" id="p-lang-label">
<span class="vector-menu-heading-label">Languages</span>
</h3>

In [35]:
#Q2 IMDB Top 100 Moives


from bs4 import BeautifulSoup
import requests
import pandas as pd

def imdb(url):
    Names = []
    Year = []
    Rating = []
    url=('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    name=soup.find_all('td',class_="titleColumn")
    for i in name:
        movie_name=i.find('a').get_text()
        Names.append(movie_name)
    year=soup.find_all('span',class_="secondaryInfo")
    for i in year:
        Year.append(i.text.replace('(','').replace(')',''))
    rating=soup.find_all('td',class_="ratingColumn imdbRating")
    for i in rating:
        Rating.append(i.text.replace('\n',''))
    movies=pd.DataFrame({})
        
    movies['Names']=Names
    movies['Year']=Year
    movies['Rating']=Rating
    movies=movies[:100]
    return(movies)
        
    
df=imdb('https://www.imdb.com/chart/top/')
df

                                  Names  Year Rating
0              The Shawshank Redemption  1994    9.2
1                         The Godfather  1972    9.2
2                       The Dark Knight  2008    9.0
3                 The Godfather Part II  1974    9.0
4                          12 Angry Men  1957    8.9
..                                  ...   ...    ...
95                               Jagten  2012    8.3
96    M - Eine Stadt sucht einen Mörder  1931    8.3
97                   North by Northwest  1959    8.3
98                              Vertigo  1958    8.2
99  Le fabuleux destin d'Amélie Poulain  2001    8.2

[100 rows x 3 columns]

In [36]:
#Q3 IMDB Top rated Indian Movies

#from bs4 import BeautifulSoup
#import requests
#import re
#import pandas as pd
#url = 'https://www.imdb.com/india/top-rated-indian-movies/'
#response = requests.get(url)
#soup = BeautifulSoup(response.text, 'html.parser')
#movies = soup.find('tbody', class_="lister-list").find_all('tr')
#for movie in movies[:100]:
    #name = movie.find('td',class_="titleColumn").a.text
    #rank = movie.find('td',class_="titleColumn").get_text(strip=True).split('.')[0]
    #year = movie.find('td',class_="titleColumn").span.text.strip('()')
    #rating = movie.find('td',class_="ratingColumn imdbRating").strong.text
    #print(rank, name, year, rating)
    
    
def imdb_indian(url):
    Names=[]
    Rating=[]
    Year=[]
    response=requests.get(url)
    soup=BeautifulSoup(response.content,'html.parser')
    name=soup.find_all('td',class_="titleColumn")
    for i in name:
        movie_name=i.find('a').get_text()
        Names.append(movie_name)
    rating=soup.find_all('td',class_="ratingColumn imdbRating")
    for i in rating:
        Rating.append(i.text.replace('\n',''))
    year=soup.find_all('span',class_="secondaryInfo")
    for i in year:
        Year.append(i.text.replace('(','').replace(')',''))
    import pandas as pd
    movies=pd.DataFrame({})
    movies['Names']=Names
    movies['Rating']=Rating
    movies['Year']=Year
    movies=movies[:100]
    return(movies)

df=imdb_indian('https://www.imdb.com/india/top-rated-indian-movies/')
df

                          Names Rating  Year
0                      Jai Bhim    8.4  2021
1                    Anbe Sivam    8.4  2003
2                       Golmaal    8.4  1979
3                       Nayakan    8.4  1987
4             Pariyerum Perumal    8.4  2018
..                          ...    ...   ...
95                       Masaan    8.0  2015
96                      Kahaani    8.0  2012
97  Baahubali 2: The Conclusion    8.0  2017
98               Dil Chahta Hai    8.0  2001
99      Maheshinte Prathikaaram    8.0  2016

[100 rows x 3 columns]

In [3]:
#Q4 Former President listing

import requests
from bs4 import BeautifulSoup
response = requests.get(url="https://presidentofindia.nic.in/former-presidents.htm")
soup = BeautifulSoup(response.text,'html.parser')
former_presidents=soup.find('ul',class_="listing cf").find_all('li')
for name in former_presidents:
    names = name.find('div',class_="presidentListing").h3.text
    term = name.find('div',class_="presidentListing").p.text 
    print(names,'->', term)

Shri Pranab Mukherjee (1935-2020) -> Term of Office: 25 July, 2012 to 25 July, 2017
Smt Pratibha Devisingh Patil (birth - 1934) -> Term of Office: 25 July, 2007 to 25 July, 2012
DR. A.P.J. Abdul Kalam (1931-2015) -> Term of Office: 25 July, 2002 to 25 July, 2007
Shri K. R. Narayanan (1920 - 2005) -> Term of Office: 25 July, 1997 to 25 July, 2002
Dr Shankar Dayal Sharma (1918-1999) -> Term of Office: 25 July, 1992 to 25 July, 1997
Shri R Venkataraman (1910-2009) -> Term of Office: 25 July, 1987 to 25 July, 1992
Giani Zail Singh (1916-1994) -> Term of Office: 25 July, 1982 to 25 July, 1987
Shri Neelam Sanjiva Reddy (1913-1996) -> Term of Office: 25 July, 1977 to 25 July, 1982
Dr. Fakhruddin Ali Ahmed (1905-1977) -> Term of Office: 24 August, 1974 to 11 February, 1977
Shri Varahagiri Venkata Giri (1894-1980) -> Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974
Dr. Zakir Husain (1897-1969) -> Term of Office: 13 May, 1967 to 3 May, 1969
Dr. Sarvepalli Radhakrishnan (1888-1975) -> Term of Office: 13 May, 1962 to 13 May, 1967
Dr. Rajendra Prasad (1884-1963)  -> Term of Office: 26 January, 1950 to 13 May, 1962

In [32]:
#Q5 To scrape Cricket Rankings
#a top 10 ODI teams

import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topteams(url):
   
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    team=soup.find_all('span',class_='u-hide-phablet')
    for i in team:
        teams.append(i.text)
    teams=teams[:10]
    #for the top team
    match_top=soup.find_all('td',class_='rankings-block__banner--matches')
    for i in match_top:
        matches.append(i.text)
    #for the remaining other teams
    match=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match),2):
        matches.append(match[i].text)
    matches=matches[:10]
    #for the top team points
    point_top=soup.find_all('td',class_='rankings-block__banner--points')
    for i in point_top:
        points.append(i.text)
    #for the remaining points
    point=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match),2):
        points.append(point[i].text)
    points=points[:10]
    
    rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

df=topteams('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
df

          teams matches points ratings
0   New Zealand      12  1,505     125
1       England      22  2,756     125
2      Pakistan      19  2,005     106
3         India      22  2,304     105
4     Australia      23  2,325     101
5  South Africa      19  1,872      99
6    Bangladesh      24  2,275      95
7     Sri Lanka      29  2,658      92
8   West Indies      32  2,306      72
9   Afghanistan      18  1,238      69

In [58]:
#b Top 10 ODI Batsmen

import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topplayers(url):
   
    players=[]
    teams=[]
    ratings=[]
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
        
    players=players[:10]
    
    team_top=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team_top:
        teams.append(i.text.replace('\n',''))
    
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    import pandas as pd
    players_odi=pd.DataFrame({})
    players_odi['players']=players
    players_odi['teams']=teams
    players_odi['ratings']=ratings
    return(players_odi)
df=topplayers('https://www.icc-cricket.com/rankings/mens/team-rankings/odi/batting')
df

                 players teams ratings
0             Babar Azam   PAK     892
1            Imam-ul-Haq   PAK     815
2            Virat Kohli   IND     811
3           Rohit Sharma   IND     791
4        Quinton de Kock    SA     789
5            Ross Taylor    NZ     775
6  Rassie van der Dussen    SA     769
7         Jonny Bairstow   ENG     752
8           David Warner   AUS     737
9              Shai Hope    WI     718

In [62]:
#c Top ODI Bowlers
import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topplayers(url):
   
    players=[]
    teams=[]
    ratings=[]
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
        
    players=players[:10]
    
    team_top=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team_top:
        teams.append(i.text.replace('\n',''))
    
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    import pandas as pd
    players_odi=pd.DataFrame({})
    players_odi['players']=players
    players_odi['teams']=teams
    players_odi['ratings']=ratings
    return(players_odi)

df=topplayers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
df

            players teams ratings
0       Trent Boult    NZ     726
1        Matt Henry    NZ     683
2    Shaheen Afridi   PAK     681
3      Chris Woakes   ENG     680
4    Jasprit Bumrah   IND     679
5    Josh Hazlewood   AUS     679
6  Mujeeb Ur Rahman   AFG     676
7      Mehedi Hasan   BAN     661
8     Mohammad Nabi   AFG     657
9   Shakib Al Hasan   BAN     657

In [40]:
#Q6 To scrape Cricket rankings
#a top 10 ODI teams Women

import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topwteams(url):
   
    teams=[]
    matches=[]
    points=[]
    ratings=[]
    team=soup.find_all('span',class_='u-hide-phablet')
    for i in team:
        teams.append(i.text)
    teams=teams[:10]
    #for the top team
    match_top=soup.find_all('td',class_='rankings-block__banner--matches')
    for i in match_top:
        matches.append(i.text)
    #for the remaining other teams
    match=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(0,len(match),2):
        matches.append(match[i].text)
    matches=matches[:10]
    #for the top team points
    point_top=soup.find_all('td',class_='rankings-block__banner--points')
    for i in point_top:
        points.append(i.text)
    #for the remaining points
    point=soup.find_all('td',class_='table-body__cell u-center-text')
    for i in range(1,len(match),2):
        points.append(point[i].text)
    points=points[:10]
    
    rating=soup.find_all('td',class_='rankings-block__banner--rating u-text-right')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    rating=soup.find_all('td',class_='table-body__cell u-text-right rating')
    for i in rating:
        ratings.append(i.text.replace('\n','').replace(' ',''))
    ratings=ratings[:10]
    import pandas as pd
    teams_odi=pd.DataFrame({})
    teams_odi['teams']=teams
    teams_odi['matches']=matches
    teams_odi['points']=points
    teams_odi['ratings']=ratings
    return(teams_odi)

df=topwteams('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
df

          teams matches points ratings
0     Australia      29  4,837     167
1  South Africa      32  3,949     123
2       England      30  3,531     118
3         India      29  2,889     100
4   New Zealand      31  3,019      97
5   West Indies      30  2,768      92
6    Bangladesh      12    930      78
7      Pakistan      30  1,962      65
8     Sri Lanka       8    384      48
9       Ireland       8    351      44

In [63]:
#b Top ODI Women Batting Players

import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topplayers(url):
   
    players=[]
    teams=[]
    ratings=[]
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
        
    players=players[:10]
    
    team_top=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team_top:
        teams.append(i.text.replace('\n',''))
    
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    import pandas as pd
    players_odi=pd.DataFrame({})
    players_odi['players']=players
    players_odi['teams']=teams
    players_odi['ratings']=ratings
    return(players_odi)
df=topplayers('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
df

             players teams ratings
0       Alyssa Healy   AUS     785
1     Natalie Sciver   ENG     750
2        Beth Mooney   AUS     748
3    Laura Wolvaardt    SA     713
4        Meg Lanning   AUS     710
5     Rachael Haynes   AUS     701
6  Amy Satterthwaite    NZ     681
7    Smriti Mandhana   IND     669
8     Tammy Beaumont   ENG     659
9       Ellyse Perry   AUS     642

In [70]:
#c Top !0 ODI Women all rounders
import requests
from bs4 import BeautifulSoup
url=('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
response = requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
def topplayers(url):
   
    players=[]
    teams=[]
    ratings=[]
    player=soup.find_all('div',class_='rankings-block__banner--name-large')
    for i in player:
        players.append(i.text)
    player=soup.find_all('td',class_='table-body__cell rankings-table__name name')
    for i in player:
        players.append(i.find('a').text)
        
    players=players[:10]
    
    team_top=soup.find_all('div',class_='rankings-block__banner--nationality')
    for i in team_top:
        teams.append(i.text.replace('\n',''))
    
    team=soup.find_all('span',class_='table-body__logo-text')
    for i in team:
        teams.append(i.text.replace('\n',''))
    teams=teams[:10]
    
    
    rating=soup.find_all('div',class_='rankings-block__banner--rating')
    for i in rating:
        ratings.append(i.text)
    rating=soup.find_all('td',class_='table-body__cell rating')
    for i in rating:
        ratings.append(i.text)
    ratings=ratings[:10]
    import pandas as pd
    players_odi=pd.DataFrame({})
    players_odi['players']=players
    players_odi['teams']=teams
    players_odi['ratings']=ratings
    return(players_odi)
df=topplayers('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
df

            players teams ratings
0    Natalie Sciver   ENG     393
1      Ellyse Perry   AUS     374
2   Hayley Matthews    WI     338
3    Marizanne Kapp    SA     338
4       Amelia Kerr    NZ     335
5  Ashleigh Gardner   AUS     269
6     Deepti Sharma   IND     249
7     Jess Jonassen   AUS     245
8         Sune Luus    SA     223
9   Katherine Brunt   ENG     221

In [82]:
#Q7 Python program to scrape the news details
from bs4 import BeautifulSoup
import requests
import pandas as pd
url=('https://www.cnbc.com/world/?region=world')
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')
head=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    head.append(i.text)
time=[]
for i in soup.find_all("time",class_="LatestNews-timestamp"):
    time.append(i.text)
link=[]
for i in soup.find_all("a",class_="LatestNews-headline"):
    link.append(i['href'])
df=pd.DataFrame({"Headline":head,"Time":time,"Link":link})
df

,Headline,Time,Link
0,"Watch for these 4 red flags at job interviews,...",16 Min Ago,https://www.cnbc.com/2022/06/29/watch-for-thes...
1,Goldman's stock picks for the multitrillion do...,24 Min Ago,https://www.cnbc.com/2022/06/29/goldmans-stock...
2,Snap announces Snapchat+ subscription plan tha...,39 Min Ago,https://www.cnbc.com/2022/06/29/snapchat-plus-...
3,Jim Cramer invested $100 a month in his 20s—ev...,50 Min Ago,https://www.cnbc.com/2022/06/29/jim-cramer-i-i...
4,Crypto exchange CoinFlex claims 'Bitcoin Jesus...,52 Min Ago,https://www.cnbc.com/2022/06/29/crypto-exchang...
5,Another crypto 'washout' is coming before inve...,1 Hour Ago,https://www.cnbc.com/2022/06/29/theres-another...
6,3 ways the Supreme Court's decision on Roe cou...,1 Hour Ago,https://www.cnbc.com/2022/06/29/supreme-court-...
7,"Buy now, pay later refunds can get complicated...",1 Hour Ago,https://www.cnbc.com/2022/06/29/buy-now-pay-la...
8,What Cramer is watching Wednesday — mass chip ...,1 Hour Ago,https://www.cnbc.com/2022/06/29/what-cramer-is...
9,Watch Fed Chair Powell talk live about the eco...,2 Hours Ago,https://www.cnbc.com/2022/06/29/watch-fed-chai...
10,"Wednesday's top analyst calls: Tesla, Goldman ...",2 Hours Ago,https://www.cnbc.com/2022/06/29/-wednesday-str...
11,Analysts still see earnings rising even as the...,2 Hours Ago,https://www.cnbc.com/2022/06/29/head-scratcher...
12,Congested Port of Oakland slashing free wait t...,2 Hours Ago,https://www.cnbc.com/2022/06/29/port-of-oaklan...
13,Delta offers free flight changes over July Fou...,2 Hours Ago,https://www.cnbc.com/2022/06/29/delta-offers-f...
14,"‘We are in a hybrid war,’ German foreign minis...",2 Hours Ago,https://www.cnbc.com/2022/06/29/russia-ukraine...
15,Crypto hedge fund Three Arrows Capital plunges...,3 Hours Ago,https://www.cnbc.com/2022/06/29/crypto-hedge-f...
16,Stocks making the biggest moves premarket: Gen...,3 Hours Ago,https://www.cnbc.com/2022/06/29/stocks-making-...
17,5 things to know before the stock market opens...,3 Hours Ago,https://www.cnbc.com/2022/06/29/5-things-to-kn...
18,Bed Bath & Beyond replaces CEO as retailer's s...,3 Hours Ago,https://www.cnbc.com/2022/06/29/bed-bath-beyon...
19,"Bitcoin briefly drops below $20,000 again as p...",3 Hours Ago,https://www.cnbc.com/2022/06/29/bitcoin-btc-br...
20,Retirees planning to travel should check Medic...,3 Hours Ago,https://www.cnbc.com/2022/06/29/retirees-trave...
21,Sell Upstart as rising rates weaken borrowing ...,3 Hours Ago,https://www.cnbc.com/2022/06/29/sell-upstart-a...
22,"Mortgage demand stalls again, even as interest...",4 Hours Ago,https://www.cnbc.com/2022/06/29/mortgage-deman...
23,"Movies have momentum for a strong 2022, if inf...",4 Hours Ago,https://www.cnbc.com/2022/06/29/top-gun-maveri...
24,Spirit fight goes down to the wire with compet...,4 Hours Ago,https://www.cnbc.com/2022/06/29/spirit-airline...
25,Bank of America says Goldman Sachs will thrive...,4 Hours Ago,https://www.cnbc.com/2022/06/29/bank-of-americ...
26,Sony looks beyond the PlayStation 5 with its o...,4 Hours Ago,https://www.cnbc.com/2022/06/29/sony-unveils-i...
27,"Putin must be stopped in battlefield, not with...",4 Hours Ago,https://www.cnbc.com/2022/06/29/putin-needs-to...
28,Buy Penn National as it benefits from pent-up ...,4 Hours Ago,https://www.cnbc.com/2022/06/29/buy-penn-natio...
29,"Atlantic Equities says buy McDonald's, a 'defe...",5 Hours Ago,https://www.cnbc.com/2022/06/29/atlantic-equit...

In [79]:
#Q10 python program to scrape the details of top publications from Google Scholar form


from bs4 import BeautifulSoup
import requests
import pandas as pd
url=('https://scholar.google.com/citations?view_op=top_venues&hl=en')
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

rank=[]
for i in soup.find_all("td",class_="gsc_mvt_p"):
    rank.append(i.text.replace(".","").split()[0])
publication=[]
for i in soup.find_all("td",class_="gsc_mvt_t"):
    publication.append(i.text)
index=[]
for i in soup.find_all("a",class_="gs_ibl gsc_mp_anchor"):
    index.append(i.text)
median=[]
for i in soup.find_all("span",class_="gs_ibl gsc_mp_anchor"):
    median.append(i.text)
    
df=pd.DataFrame({"Rank":rank,"Publication":publication,"h5-index":index,"h5-median":median})
df

   Rank                                        Publication h5-index h5-median
0     1                                             Nature      444       667
1     2                The New England Journal of Medicine      432       780
2     3                                            Science      401       614
3     4  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5                                         The Lancet      354       635
..  ...                                                ...      ...       ...
95   96                       Journal of Business Research      145       233
96   97                                   Molecular Cancer      145       209
97   98                                            Sensors      145       201
98   99                              Nature Climate Change      144       228
99  100                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]

In [83]:
#Q8 a python program to scrape the details of most downloaded articles from AI in last 90 days.

from bs4 import BeautifulSoup
import requests
import pandas as pd
url=('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

title=[]
for i in soup.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    title.append(i.text)
author=[]
for i in soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT"):
    author.append(i.text)
pubdate=[]
for i in soup.find_all("span",class_="sc-1thf9ly-2 bKddwo"):
    pubdate.append(i.text)
link=[]
for i in soup.find_all("a",class_="sc-5smygv-0 nrDZj"):
    link.append(i['href'])
    
df=pd.DataFrame({"Title":title,"Author":author,"Published Date":pubdate,"Link":link})
df

,Title,Author,Published Date,Link
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [86]:
#Q9 a python program to scrape mentioned details from dineout.co.in Restaurant name Cuisine Location  Ratings Image URL




from bs4 import BeautifulSoup
import requests
import pandas as pd
url=('https://www.dineout.co.in/delhi-restaurants/buffet-special')
response=requests.get(url)
soup=BeautifulSoup(response.content,'html.parser')

name=[]
for i in soup.find_all("a",class_="restnt-name ellipsis"):
    name.append(i.text)
cuisine=[]
for i in soup.find_all("span",class_="double-line-ellipsis"):
    cuisine.append(i.text.split("|")[1])
loc=[]
for i in soup.find_all("div",class_="restnt-loc ellipsis"):
    loc.append(i.text)
rating=[]
for i in soup.find_all("div",class_="restnt-rating rating-4"):
    rating.append(i.text)
image=[]
for i in soup.find_all("img",class_="no-img"):
    image.append(i['data-src'])

    
df=pd.DataFrame({"Restaurant Name":name,"Cuisine":cuisine,"Location":loc,"Image":image})
df

,Restaurant Name,Cuisine,Location,Image
0,Castle Barbeque,"North Indian, Chinese","Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"North Indian, Italian","Vibe by The Lalit Traveller,Sector 35, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"North Indian, Mughlai, Desserts, Beverages","NIT, Faridabad",https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"European, Italian, Asian, Continental","DoubleTree By Hilton Gurugram Baani Square,Sec...",https://im1.dineout.co.in/images/uploads/resta...